### 목차

<table style="width:100%">
  <thead>
    <tr>
      <th rowspan="2">구분</th>
      <th rowspan="2">과목명</th>
      <th colspan="2">문항수</th>
      <th colspan="2">배점</th>
      <th rowspan="2">시험시간</th>
    </tr>
    <tr>
      <th>객관식</th>
      <th>단답형</th>
      <th>객관식</th>
      <th>단답형</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td rowspan="4", bgcolor="lightgrey">필기</td>
          <td>데이터 이해</td>
          <td>8</td>
          <td>2</td>
          <td rowspan="3">80 (각 2점)</td>
          <td rowspan="3">20 (각 2점)</td>
          <td rowspan="4" >90분 (1시간 30분)</td>
      </tr>
      <tr>
          <td>데이터 분석 기획</td>
          <td>8</td>
          <td>2</td>
      </tr>
      <tr>
          <td bgcolor="lightgrey"><b>데이터 분석</b></td>
          <td bgcolor="lightgrey"><b>24</b></td>
          <td bgcolor="lightgrey"><b>6</b></td>
      </tr>
      <tr>
          <td>계</td>
          <td>40</td>
          <td>10</td>
          <td colspan="2">100</td>
      </tr>
  </tbody>
</table>

<table  style="width:100%">
    <tbody>
            <tr>
              <th rowspan="11", bgcolor="lightgrey"><b>데이터 분석</b></th>
              <td rowspan="3", bgcolor="lightgrey"><b>R기초와 데이터 마트</b></td>
              <td>R기초</td>
            </tr>
            <tr>
              <td bgcolor="lightgrey"><b>데이터 마트</b></td>
            </tr>
            <tr>
              <td>결측값 처리와 이상값 검색</td>
            </tr>
            <tr>
              <td rowspan="4">통계분석</td>
              <td>통계학 개론</td>
            </tr>
            <tr>
              <td>기초 통계분석</td>
            </tr>
            <tr>
              <td>다변량 분석</td>
            </tr>
            <tr>
              <td>시계열 예측</td>
            </tr>
            <tr>
              <td rowspan="4">정형 데이터 마이닝</td>
              <td>데이터 마이닝 개요</td>
            </tr>
            <tr>
              <td>분류분석(Classification)</td>
            </tr>
            <tr>
              <td>군집분석(Clustering)</td>
            </tr>
            <tr>
              <td>연관분석(Association Analysis)</td>
            </tr>
      </tbody>
</table>

# 과목 IV 데이터 분석

## 제 1장 R기초와 데이터 마트

### 제2절 데이터 마트

- 모델링 : 데이터 마이닝에서 다양한 분석기법을 적용해 모델을 개발하는 과정
- 데이터마트 
    - 데이터의 한 부분으로서 특정 사용자가 관심을 갖는 데이터들을 담은 비교적 작은 규모의 데이터 웨어 하우스
    - 일반적인 데이터 베이스 형태로 갖고 있는 다양한 정보를 사용자의 요구 항목에 따라 체계적으로 분석하여 기업의경영 활동을 돕기 위한 시스템
    - 전체적인 데이터 웨어하우스에 있는 일부 데이터를 가지고 특정 사용자를 대상
- 데이터웨어하우스와 데이터마트의 차이를 이해한다

#### 1. R reshape를 활용한 데이터 마트 개발

- reshape
    - melt와 cast만을 사용하여 데이터를 재구성하여 밀집화 된 데이터를 유연하게 생성
    - 기존 데이터 구조를 column-wise하게 전환
    - melt와 cast 단계로 구분

```install.packages("reshape")```

In [174]:
library(reshape)

- data(dataset) : 데이터를 불러옴

In [189]:
data(airquality)

- head(dataset) : 데이터 셋의 일부를 앞단을 보여줌

In [190]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [191]:
head(airquality, 10) # 개수를 지정할 수 있음

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
10 NA    194      8.6 69   5     10

- names : 변수명을 확인 (변수명 = column name)

In [192]:
names(airquality)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

- tolower() : 소문자로 변경

In [193]:
names(airquality) =  tolower(names(airquality))

In [194]:
names(airquality)

[1] "ozone"   "solar.r" "wind"    "temp"    "month"   "day"

- melt(data, ...): id에 있는 변수를 기준으로 나머지 각 변수를 variable이란 이름의 데이터로 만듬

In [195]:
aqm <- melt(airquality, id=c("month", "day"), na.rm=TRUE)
aqm

    month day variable value
1   5      1  ozone     41
2   5      2  ozone     36
3   5      3  ozone     12
4   5      4  ozone     18
6   5      6  ozone     28
7   5      7  ozone     23
8   5      8  ozone     19
9   5      9  ozone      8
11  5     11  ozone      7
12  5     12  ozone     16
13  5     13  ozone     11
14  5     14  ozone     14
15  5     15  ozone     18
16  5     16  ozone     14
17  5     17  ozone     34
18  5     18  ozone      6
19  5     19  ozone     30
20  5     20  ozone     11
21  5     21  ozone      1
22  5     22  ozone     11
23  5     23  ozone      4
24  5     24  ozone     32
28  5     28  ozone     23
29  5     29  ozone     45
30  5     30  ozone    115
31  5     31  ozone     37
38  6      7  ozone     29
40  6      9  ozone     71
41  6     10  ozone     39
44  6     13  ozone     23
⋮   ⋮     ⋮   ⋮        ⋮
583 9      1  temp     91
584 9      2  temp     92
585 9      3  temp     93
586 9      4  temp     93
587 9      5  temp     87
588 9      6  temp     84
589 9      7  temp     80
590 9      8  temp     78
591 9      9  temp     75
592 9     10  temp     73
593 9     11  temp     81
594 9     12  temp     76
595 9     13  temp     77
596 9     14  temp     71
597 9     15  temp     71
598 9     16  temp     78
599 9     17  temp     67
600 9     18  temp     76
601 9     19  temp     68
602 9     20  temp     82
603 9     21  temp     64
604 9     22  temp     71
605 9     23  temp     81
606 9     24  temp     69
607 9     25  temp     63
608 9     26  temp     70
609 9     27  temp     77
610 9     28  temp     75
611 9     29  temp     76
612 9     30  temp     68

- cast : 엑셀의 피벗팅하듯 자료를 변환 (~ : y, dimension과 measure에 해당하는 변수(variable) 값을 표시

In [205]:
a <- cast(aqm, month ~ day ~ variable)

 [1]  41  NA 135  39  96  36  NA  49   9  78  12  NA  32  16  73  18  NA  NA  78
[20]  91

In [202]:
b <- cast(aqm, month ~ variable, mean)
b

  month ozone    solar.r  wind      temp
1 5     23.61538 181.2963 11.622581 65.54839
2 6     29.44444 190.1667 10.266667 79.10000
3 7     59.11538 216.4839  8.941935 83.90323
4 8     59.96154 171.8571  8.793548 83.96774
5 9     31.44828 167.4333 10.180000 76.90000

In [203]:
c <- cast(aqm, month ~ variable, sum)
c

  month ozone solar.r wind  temp
1 5      614  4895    360.3 2032
2 6      265  5705    308.0 2373
3 7     1537  6711    277.2 2601
4 8     1559  4812    272.6 2603
5 9      912  5023    305.4 2307

In [40]:
cast(aqm, month ~ . | variable, mean) # 1개의 variable 값 기준으로 나열

$ozone
  month    (all)
1     5 23.61538
2     6 29.44444
3     7 59.11538
4     8 59.96154
5     9 31.44828

$solar.r
  month    (all)
1     5 181.2963
2     6 190.1667
3     7 216.4839
4     8 171.8571
5     9 167.4333

$wind
  month     (all)
1     5 11.622581
2     6 10.266667
3     7  8.941935
4     8  8.793548
5     9 10.180000

$temp
  month    (all)
1     5 65.54839
2     6 79.10000
3     7 83.90323
4     8 83.96774
5     9 76.90000

In [48]:
cast(aqm, month ~ variable, mean, margins=c("grand_row", "grand_col")) # martgin 기능으로 행과 열에 대한 소계를 산출할 수 있다.

  month ozone    solar.r  wind      temp     (all)
1 5     23.61538 181.2963 11.622581 65.54839 68.70696
2 6     29.44444 190.1667 10.266667 79.10000 87.38384
3 7     59.11538 216.4839  8.941935 83.90323 93.49748
4 8     59.96154 171.8571  8.793548 83.96774 79.71207
5 9     31.44828 167.4333 10.180000 76.90000 71.82689
6 (all) 42.12931 185.9315  9.957516 77.88235 80.05722

In [49]:
cast(aqm, day ~ month, mean, subset=variable=="ozone") # 특정값으로, 서브셋을 구축할 수 있다.

   day 5   6   7   8   9
1   1   41 NaN 135  39  96
2   2   36 NaN  49   9  78
3   3   12 NaN  32  16  73
4   4   18 NaN NaN  78  91
5   5  NaN NaN  64  35  47
6   6   28 NaN  40  66  32
7   7   23  29  77 122  20
8   8   19 NaN  97  89  23
9   9    8  71  97 110  21
10 10  NaN  39  85 NaN  24
11 11    7 NaN NaN NaN  44
12 12   16 NaN  10  44  21
13 13   11  23  27  28  28
14 14   14 NaN NaN  65   9
15 15   18 NaN   7 NaN  13
16 16   14  21  48  22  46
17 17   34  37  35  59  18
18 18    6  20  61  23  13
19 19   30  12  79  31  24
20 20   11  13  63  44  16
21 21    1 NaN  16  21  13
22 22   11 NaN NaN   9  23
23 23    4 NaN NaN NaN  36
24 24   32 NaN  80  45   7
25 25  NaN NaN 108 168  14
26 26  NaN NaN  20  73  30
27 27  NaN NaN  52 NaN NaN
28 28   23 NaN  82  76  14
29 29   45 NaN  50 118  18
30 30  115 NaN  64  84  20
31 31   37 NaN  59  85 NaN

In [50]:
cast(aqm, month ~ variable, range) #min 은 _M1, max는 _M2fkrh suffix를 붙여준다.

  month ozone_X1 ozone_X2 solar.r_X1 solar.r_X2 wind_X1 wind_X2 temp_X1 temp_X2
1 5      1       115       8         334        5.7     20.1    56      81
2 6     12        71      31         332        1.7     20.7    65      93
3 7      7       135       7         314        4.1     14.9    73      92
4 8      9       168      24         273        2.3     15.5    72      97
5 9      7        96      14         259        2.8     16.6    63      93

#### 2. sqldf를 이용한 데이터 분석

```install.packages("sqldf")```

In [52]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [53]:
data(iris)

In [54]:
sqldf("select * from iris limit 10")

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [55]:
sqldf("select count(*) from iris where Species like 'se%' ")

  count(*)
1 50

#### 3. plyr

- plyr : apply 함수에 기반해 데이터와 출력변수를 동시에 배열로 치환처리하는 패키지
- ply() : 첫번째 문자는 데이터 형태, 두번쨰는 출력하는 데이터 형태 
    - 1.  d = 데이터 프레임 (data.frame)
    - 2. a = 배열 (array)
    - 3. l = 리스트 (list)
- ddply : 데이터 프레임을 입력받아 분리(split)하거나 처리 후 출력
- ldply : 리스트를 입력받아 분리하거나 처리 후 출력

<table style = "width:100%" >
    <thead>
        <tr>
            <th colspan = 2, rowspan = 2>빈칸</th>
            <th  colspan = 3>입력되는 데이터 형태</th>
        </tr>
            <th>데이터 프레임(data.frame)</th>
            <th>리스트(list)</th>
            <th>배열(array</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan = 3>출력되는 데이터 형태</th>
            <th>데이터 프레임(data.frame)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
        <tr>
            <th>리스트 (list)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
        <tr>
            <th>배열(array)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
    </tbody>
</table>

- ser.seed() : R에서 난수를 생성할 때 일정하게 고정시켜주는 역할
- data.frame : 벡터를 데이터프레임으로 만든다.
    - rep(범위, each = 각 개수) 
    - count
    - runif(생성할 난수의 개수, 최소값, 최대값)

In [221]:
set.seed(1)

In [272]:
rep(2012:2014, each = 6) # 2012~2014 까지 각 6번씩을 반복함
year <- rep(2012:2014, each = 6)
year

 [1] 2012 2012 2012 2012 2012 2012 2013 2013 2013 2013 2013 2013 2014 2014 2014
[16] 2014 2014 2014

 [1] 2012 2012 2012 2012 2012 2012 2013 2013 2013 2013 2013 2013 2014 2014 2014
[16] 2014 2014 2014

In [273]:
runif(9, 0, 20)  # 9개 값을 랜덤 추출, 0~20까지 사이에서

[1]  4.033639 17.967794 18.893505 13.215956 12.582281  1.235725  4.119491
[8]  3.531135 13.740457

In [274]:
round(runif(9, 0, 20))  # 9개 값을 랜덤 추출, 0~20까지 사이에서
count <- round(runif(9, 0, 20))
count

[1]  8 15 10 14 20  8 16 19  4

[1] 13  3  5  8  0  8 17  7 10

In [275]:
set.seed(1)
d = data.frame(year = rep(2012:2014, each = 6), count = round(runif(9, 0, 20)))
print(d)

   year count
1  2012     5
2  2012     7
3  2012    11
4  2012    18
5  2012     4
6  2012    18
7  2013    19
8  2013    13
9  2013    13
10 2013     5
11 2013     7
12 2013    11
13 2014    18
14 2014     4
15 2014    18
16 2014    19
17 2014    13
18 2014    13

- plyr : 라이브러리를 설치
- ddply : 데이터 프레임에서 데이터 프레임으로 입출력하는 함수
    - sd : 표준 편차
    - mean : 평균
    - cv(coefficient of variaition, 변동계수)
- d를 인수로 입력받고, count의 mean과 sd를 구해 각각 저장한 다음에 cv를 구함
- 결과를 year별로 리턴하면서 데이터 프레임으로 생성

In [276]:
library(plyr)

ddply(d, "year", function(x,y,z) {
    mean.count = mean(x$count)
    sd.count = sd(x$count)
    cv = sd.count/mean.count
    data.frame(mean.count, sd.count, cv.count =cv)
})

  year mean.count sd.count cv.count
1 2012 10.50000   6.284903 0.5985621
2 2013 11.33333   4.966555 0.4382254
3 2014 14.16667   5.636193 0.3978489

- summarise : 변수에 명령된 평균이나 합을 계싼, 새로생긴 변수만 보여줌

In [63]:
ddply(d, "year", summarise, mean.count = mean(count))

  year mean.count
1 2012 10.50000
2 2013 11.33333
3 2014 14.16667

- transform : 계산에 사용된 변수도 출력

In [277]:
ddply(d, "year", transform, mean.count = mean(count))

   year count mean.count
1  2012  5    10.50000
2  2012  7    10.50000
3  2012 11    10.50000
4  2012 18    10.50000
5  2012  4    10.50000
6  2012 18    10.50000
7  2013 19    11.33333
8  2013 13    11.33333
9  2013 13    11.33333
10 2013  5    11.33333
11 2013  7    11.33333
12 2013 11    11.33333
13 2014 18    14.16667
14 2014  4    14.16667
15 2014 18    14.16667
16 2014 19    14.16667
17 2014 13    14.16667
18 2014 13    14.16667

In [65]:
ddply(d, "year", transform, total.count = sum(count))

   year count total.count
1  2012  5    63
2  2012  7    63
3  2012 11    63
4  2012 18    63
5  2012  4    63
6  2012 18    63
7  2013 19    68
8  2013 13    68
9  2013 13    68
10 2013  5    68
11 2013  7    68
12 2013 11    68
13 2014 18    85
14 2014  4    85
15 2014 18    85
16 2014 19    85
17 2014 13    85
18 2014 13    85

#### 4. 데이터 테이블

- 데이터 테이블(data.table) : 데이터 프레임과 유리하지만 보다 빠른 그룹화(grouping)와 순서화(ordering), 짧은 문장 지원 측면에서 매력적

```install.packages("data.table")```

In [68]:
library(data.table)

In [134]:
DT = data.table(x=c("b","b","b","a","a"), v=rnorm(5))
DT

  x v
1 b -2.00746767
2 b  0.64388687
3 b  1.15856122
4 a  0.50315780
5 a -0.05230225

In [135]:
data(cars)
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [136]:
CARS <- data.table(cars)
head(CARS)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [137]:
tables()

   NAME NROW NCOL MB       COLS KEY
1: CARS   50    2  0 speed,dist
2:   DT    5    2  0        x,v
3:   ss   26    2  0       x,V1   x
Total: 0MB

In [138]:
sapply(CARS, class)

    speed      dist
"numeric" "numeric"

In [139]:
DT

  x v
1 b -2.00746767
2 b  0.64388687
3 b  1.15856122
4 a  0.50315780
5 a -0.05230225

In [140]:
DT[2,]

  x v
1 b 0.6438869

- setkey() : key를 지정한다 <br>
```setkey(x, ..., verbose=getOption("datatable.verbose"), physical = TRUE)```

In [141]:
setkey(DT,x)
DT

  x v
1 a  0.50315780
2 a -0.05230225
3 b -2.00746767
4 b  0.64388687
5 b  1.15856122

In [143]:
DT["b",]

  x v
1 b -2.0074677
2 b  0.6438869
3 b  1.1585612

In [144]:
DT["b", mult = "first"]

  x v
1 b -2.007468

In [145]:
DT["b", mult = "last"]

  x v
1 b 1.158561

In [146]:
grpsize <- ceiling(1e7/26^2)

tt <- system.time(DF <- data.frame(
    x = rep(LETTERS, each=26*grpsize),
    y = rep(letters, each=grpsize),
    v = runif(grpsize*26^2),
    stringAsFactors=FALSE)
)
tt

   user  system elapsed
  0.851   0.074   0.925

In [147]:
head(DF,3)

  x y v         stringAsFactors
1 A a 0.4478763 FALSE
2 A a 0.2061918 FALSE
3 A a 0.9082171 FALSE

In [148]:
tail(DF,3)

         x y v         stringAsFactors
10000066 Z z 0.9939192 FALSE
10000067 Z z 0.1680730 FALSE
10000068 Z z 0.6218789 FALSE

In [149]:
dim(DF)

[1] 10000068        4

In [150]:
10000068/3.323

[1] 3009349

In [151]:
tt <- system.time(ans1 <- DF[DF$x == "R" & DF$y == "h",])
tt

   user  system elapsed
  0.098   0.010   0.108

In [152]:
head(ans1, 3)

        x y v          stringAsFactors
6642058 R h 0.58444132 FALSE
6642059 R h 0.01847112 FALSE
6642060 R h 0.27208963 FALSE

In [158]:
DT <-data.table(DF)
setkey(DT, x, y)
ss <- system.time(ans2 <- DT[J("R", "h")])
head(ans2, 3)

  x y v          stringAsFactors
1 R h 0.58444132 FALSE
2 R h 0.01847112 FALSE
3 R h 0.27208963 FALSE

In [159]:
dim(ans2)

[1] 14793     4

In [160]:
identical(ans1$v, ans2$v)

[1] TRUE

In [161]:
ss

   user  system elapsed
  0.002   0.000   0.003

In [162]:
system.time(ans2 <- DF[DF$x == "R" & DF$y == "h",])

   user  system elapsed
  0.103   0.014   0.117

In [163]:
mapply(identical, ans1, ans2)

              x               y               v stringAsFactors
           TRUE            TRUE            TRUE            TRUE

In [164]:
DT[,sum(v)]

[1] 5000540

In [165]:
DT[,sum(v), by = x]

   x V1
1  A 192415.8
2  B 192230.8
3  C 192303.0
4  D 192315.5
5  E 192702.2
6  F 192340.6
7  G 192407.1
8  H 192333.1
9  I 192440.9
10 J 192290.7
11 K 192292.8
12 L 192334.6
13 M 192075.0
14 N 191923.8
15 O 192300.7
16 P 192372.6
17 Q 192164.7
18 R 192288.3
19 S 192487.4
20 T 192459.3
21 U 192309.5
22 V 192053.3
23 W 191979.0
24 X 192619.9
25 Y 192636.4
26 Z 192462.6

In [166]:
ttt <- system.time(tt <- tapply(DT$v, DT$x, sum))
ttt

   user  system elapsed
  0.124   0.035   0.160

In [167]:
sss <- system.time(ss <- DT[, sum(v), by=x]);
sss

   user  system elapsed
  0.058   0.011   0.069

In [168]:
head(tt)

ERROR while rich displaying an object: Error in dn[[2L]]: 첨자의 허용 범위를 벗어났습니다

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.numeric(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: 첨자의 허용 범위를 벗어났습니다

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.numeric(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

       A        B        C        D        E        F
192415.8 192230.8 192303.0 192315.5 192702.2 192340.6

In [131]:
head(ss)

  x V1
1 A 192164.2
2 B 192224.3
3 C 192289.8
4 D 192416.4
5 E 192371.9
6 F 192775.7

In [169]:
identical(as.vector(tt), ss$v1)

[1] FALSE

In [171]:
sss <- system.time(ss <- DT[,sum(v), by="x,y"])
sss
ss

   user  system elapsed
  0.207   0.002   0.209

    x y V1
1   A a 7370.715
2   A b 7389.101
3   A c 7354.456
4   A d 7449.656
5   A e 7360.305
6   A f 7400.703
7   A g 7412.881
8   A h 7348.709
9   A i 7422.384
10  A j 7318.056
11  A k 7418.343
12  A l 7428.219
13  A m 7382.046
14  A n 7446.445
15  A o 7381.798
16  A p 7393.456
17  A q 7367.354
18  A r 7404.553
19  A s 7468.830
20  A t 7405.749
21  A u 7409.186
22  A v 7384.947
23  A w 7456.752
24  A x 7424.665
25  A y 7416.254
26  A z 7400.264
27  B a 7454.368
28  B b 7456.975
29  B c 7401.894
30  B d 7384.756
⋮   ⋮ ⋮ ⋮
647 Y w 7388.425
648 Y x 7376.984
649 Y y 7382.742
650 Y z 7434.387
651 Z a 7433.587
652 Z b 7378.326
653 Z c 7399.643
654 Z d 7340.601
655 Z e 7438.197
656 Z f 7423.457
657 Z g 7430.836
658 Z h 7371.846
659 Z i 7408.187
660 Z j 7425.887
661 Z k 7395.230
662 Z l 7438.050
663 Z m 7343.837
664 Z n 7381.841
665 Z o 7441.310
666 Z p 7400.791
667 Z q 7435.765
668 Z r 7322.822
669 Z s 7393.973
670 Z t 7433.510
671 Z u 7382.607
672 Z v 7420.343
673 Z w 7451.892
674 Z x 7424.282
675 Z y 7325.922
676 Z z 7419.889