### 목차

<table style="width:100%">
  <thead>
    <tr>
      <th rowspan="2">구분</th>
      <th rowspan="2">과목명</th>
      <th colspan="2">문항수</th>
      <th colspan="2">배점</th>
      <th rowspan="2">시험시간</th>
    </tr>
    <tr>
      <th>객관식</th>
      <th>단답형</th>
      <th>객관식</th>
      <th>단답형</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td rowspan="4", bgcolor="lightgrey">필기</td>
          <td>데이터 이해</td>
          <td>8</td>
          <td>2</td>
          <td rowspan="3">80 (각 2점)</td>
          <td rowspan="3">20 (각 2점)</td>
          <td rowspan="4" >90분 (1시간 30분)</td>
      </tr>
      <tr>
          <td>데이터 분석 기획</td>
          <td>8</td>
          <td>2</td>
      </tr>
      <tr>
          <td bgcolor="lightgrey"><b>데이터 분석</b></td>
          <td bgcolor="lightgrey"><b>24</b></td>
          <td bgcolor="lightgrey"><b>6</b></td>
      </tr>
      <tr>
          <td>계</td>
          <td>40</td>
          <td>10</td>
          <td colspan="2">100</td>
      </tr>
  </tbody>
</table>

<table  style="width:100%">
    <tbody>
            <tr>
              <th rowspan="11", bgcolor="lightgrey"><b>데이터 분석</b></th>
              <td rowspan="3", bgcolor="lightgrey"><b>R기초와 데이터 마트</b></td>
              <td>R기초</td>
            </tr>
            <tr>
              <td bgcolor="lightgrey"><b>데이터 마트</b></td>
            </tr>
            <tr>
              <td>결측값 처리와 이상값 검색</td>
            </tr>
            <tr>
              <td rowspan="4">통계분석</td>
              <td>통계학 개론</td>
            </tr>
            <tr>
              <td>기초 통계분석</td>
            </tr>
            <tr>
              <td>다변량 분석</td>
            </tr>
            <tr>
              <td>시계열 예측</td>
            </tr>
            <tr>
              <td rowspan="4">정형 데이터 마이닝</td>
              <td>데이터 마이닝 개요</td>
            </tr>
            <tr>
              <td>분류분석(Classification)</td>
            </tr>
            <tr>
              <td>군집분석(Clustering)</td>
            </tr>
            <tr>
              <td>연관분석(Association Analysis)</td>
            </tr>
      </tbody>
</table>

# 과목 IV 데이터 분석

## 제 1장 R기초와 데이터 마트

### 제2절 데이터 마트

- 모델링 : 데이터 마이닝에서 다양한 분석기법을 적용해 모델을 개발하는 과정
- 데이터마트 
    - 데이터의 한 부분으로서 특정 사용자가 관심을 갖는 데이터들을 담은 비교적 작은 규모의 데이터 웨어 하우스
    - 일반적인 데이터 베이스 형태로 갖고 있는 다양한 정보를 사용자의 요구 항목에 따라 체계적으로 분석하여 기업의경영 활동을 돕기 위한 시스템
    - 전체적인 데이터 웨어하우스에 있는 일부 데이터를 가지고 특정 사용자를 대상
- 데이터웨어하우스와 데이터마트의 차이를 이해한다

#### 1. R reshape를 활용한 데이터 마트 개발

- reshape
    - melt와 cast만을 사용하여 데이터를 재구성하여 밀집화 된 데이터를 유연하게 생성
    - 기존 데이터 구조를 column-wise하게 전환
    - melt와 cast 단계로 구분

```install.packages("reshape")```

In [76]:
library(reshape)

- data(dataset) : 데이터를 불러옴

In [77]:
data(airquality)

- head(dataset) : 데이터 셋의 일부를 앞단을 보여줌

In [78]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [79]:
head(airquality, 10) # 개수를 지정할 수 있음

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
10 NA    194      8.6 69   5     10

- names : 변수명을 확인 (변수명 = column name)

In [80]:
names(airquality)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

- tolower() : 소문자로 변경

In [81]:
names(airquality) =  tolower(names(airquality))

In [82]:
names(airquality)

[1] "ozone"   "solar.r" "wind"    "temp"    "month"   "day"

- melt(data, ...): id에 있는 변수를 기준으로 나머지 각 변수를 variable이란 이름의 데이터로 만듬

In [83]:
aqm <- melt(airquality, id=c("month", "day"), na.rm=TRUE)
aqm

    month day variable value
1   5      1  ozone     41
2   5      2  ozone     36
3   5      3  ozone     12
4   5      4  ozone     18
6   5      6  ozone     28
7   5      7  ozone     23
8   5      8  ozone     19
9   5      9  ozone      8
11  5     11  ozone      7
12  5     12  ozone     16
13  5     13  ozone     11
14  5     14  ozone     14
15  5     15  ozone     18
16  5     16  ozone     14
17  5     17  ozone     34
18  5     18  ozone      6
19  5     19  ozone     30
20  5     20  ozone     11
21  5     21  ozone      1
22  5     22  ozone     11
23  5     23  ozone      4
24  5     24  ozone     32
28  5     28  ozone     23
29  5     29  ozone     45
30  5     30  ozone    115
31  5     31  ozone     37
38  6      7  ozone     29
40  6      9  ozone     71
41  6     10  ozone     39
44  6     13  ozone     23
⋮   ⋮     ⋮   ⋮        ⋮
583 9      1  temp     91
584 9      2  temp     92
585 9      3  temp     93
586 9      4  temp     93
587 9      5  temp     87
588 9      6  temp     84
589 9      7  temp     80
590 9      8  temp     78
591 9      9  temp     75
592 9     10  temp     73
593 9     11  temp     81
594 9     12  temp     76
595 9     13  temp     77
596 9     14  temp     71
597 9     15  temp     71
598 9     16  temp     78
599 9     17  temp     67
600 9     18  temp     76
601 9     19  temp     68
602 9     20  temp     82
603 9     21  temp     64
604 9     22  temp     71
605 9     23  temp     81
606 9     24  temp     69
607 9     25  temp     63
608 9     26  temp     70
609 9     27  temp     77
610 9     28  temp     75
611 9     29  temp     76
612 9     30  temp     68

- cast : 엑셀의 피벗팅하듯 자료를 변환 (~ : y, dimension과 measure에 해당하는 변수(variable) 값을 표시

In [90]:
a <- cast(aqm, month ~ day ~ variable)
a

, , variable = ozone

     day
month   1  2  3  4  5  6   7  8   9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
    5  41 36 12 18 NA 28  23 19   8 NA  7 16 11 14 18 14 34  6 30 11  1 11  4
    6  NA NA NA NA NA NA  29 NA  71 39 NA NA 23 NA NA 21 37 20 12 13 NA NA NA
    7 135 49 32 NA 64 40  77 97  97 85 NA 10 27 NA  7 48 35 61 79 63 16 NA NA
    8  39  9 16 78 35 66 122 89 110 NA NA 44 28 65 NA 22 59 23 31 44 21  9 NA
    9  96 78 73 91 47 32  20 23  21 24 44 21 28  9 13 46 18 13 24 16 13 23 36
     day
month 24  25 26 27 28  29  30 31
    5 32  NA NA NA 23  45 115 37
    6 NA  NA NA NA NA  NA  NA NA
    7 80 108 20 52 82  50  64 59
    8 45 168 73 NA 76 118  84 85
    9  7  14 30 NA 14  18  20 NA

, , variable = solar.r

     day
month   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
    5 190 118 149 313  NA  NA 299  99  19 194  NA 256 290 274  65 334 307  78
    6 286 287 242 186 220 264 127 273 291 323 259 250 148 332 322 191 284  37
    7 269 248 236 101 175 314 276 267 272 175 139 264 175 291  48 260 274 285
    8  83  24  77  NA  NA  NA 255 229 207 222 137 192 273 157  64  71  51 115
    9 167 197 183 189  95  92 252 220 230 259 236 259 238  24 112 237 224  27
     day
month  19  20  21  22  23  24  25  26  27  28  29  30  31
    5 322  44   8 320  25  92  66 266  NA  13 252 223 279
    6 120 137 150  59  91 250 135 127  47  98  31 138  NA
    7 187 220   7 258 295 294 223  81  82 213 275 253 254
    8 244 190 259  36 255 212 238 215 153 203 225 237 188
    9 238 201 238  14 139  49  20 193 145 191 131 223  NA

, , variable = wind

     day
month   1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
    5 7.4  8.0 12.6 11.5 14.3 14.9  8.6 13.8 20.1  8.6  6.9  9.7  9.2 10.9 13.2
    6 8.6  9.7 16.1  9.2  8.6 14.3  9.7  6.9 13.8 11.5 10.9  9.2  8.0 13.8 11.5
    7 4.1  9.2  9.2 10.9  4.6 10.9  5.1  6.3  5.7  7.4  8.6 14.3 14.9 14.9 14.3
    8 6.9 13.8  7.4  6.9  7.4  4.6  4.0 10.3  8.0  8.6 11.5 11.5 11.5  9.7 11.5
    9 6.9  5.1  2.8  4.6  7.4 15.5 10.9 10.3 10.9  9.7 14.9 15.5  6.3 10.9 11.5
     day
month   16   17   18   19   20   21   22   23   24   25   26   27   28   29
    5 11.5 12.0 18.4 11.5  9.7  9.7 16.6  9.7 12.0 16.6 14.9  8.0 12.0 14.9
    6 14.9 20.7  9.2 11.5 10.3  6.3  1.7  4.6  6.3  8.0  8.0 10.3 11.5 14.9
    7  6.9 10.3  6.3  5.1 11.5  6.9  9.7 11.5  8.6  8.0  8.6 12.0  7.4  7.4
    8 10.3  6.3  7.4 10.9 10.3 15.5 14.3 12.6  9.7  3.4  8.0  5.7  9.7  2.3
    9  6.9 13.8 10.3 10.3  8.0 12.6  9.2 10.3 10.3 16.6  6.9 13.2 14.3  8.0
     day
month   30  31
    5  5.7 7.4
    6  8.0  NA
    7  7.4 9.2
    8  6.3 6.3
    9 11.5  NA

, , variable = temp

     day
month  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
    5 67 72 74 62 56 66 65 59 61 69 74 69 66 68 58 64 66 57 68 62 59 73 61 61
    6 78 74 67 84 85 79 82 87 90 87 93 92 82 80 79 77 72 65 73 76 77 76 76 76
    7 84 85 81 84 83 83 88 92 92 89 82 73 81 91 80 81 82 84 87 85 74 81 82 86
    8 81 81 82 86 85 87 89 90 90 92 86 86 82 80 79 77 79 76 78 78 77 72 75 79
    9 91 92 93 93 87 84 80 78 75 73 81 76 77 71 71 78 67 76 68 82 64 71 81 69
     day
month 25 26 27 28 29 30 31
    5 57 58 57 67 81 79 76
    6 75 78 73 80 77 83 NA
    7 85 82 86 88 86 83 81
    8 81 86 88 97 94 96 94
    9 63 70 77 75 76 68 NA

In [91]:
b <- cast(aqm, month ~ variable, mean)
b

  month ozone    solar.r  wind      temp
1 5     23.61538 181.2963 11.622581 65.54839
2 6     29.44444 190.1667 10.266667 79.10000
3 7     59.11538 216.4839  8.941935 83.90323
4 8     59.96154 171.8571  8.793548 83.96774
5 9     31.44828 167.4333 10.180000 76.90000

In [92]:
c <- cast(aqm, month ~ variable, sum)
c

  month ozone solar.r wind  temp
1 5      614  4895    360.3 2032
2 6      265  5705    308.0 2373
3 7     1537  6711    277.2 2601
4 8     1559  4812    272.6 2603
5 9      912  5023    305.4 2307

In [93]:
cast(aqm, month ~ . | variable, mean) # 1개의 variable 값 기준으로 나열

$ozone
  month    (all)
1     5 23.61538
2     6 29.44444
3     7 59.11538
4     8 59.96154
5     9 31.44828

$solar.r
  month    (all)
1     5 181.2963
2     6 190.1667
3     7 216.4839
4     8 171.8571
5     9 167.4333

$wind
  month     (all)
1     5 11.622581
2     6 10.266667
3     7  8.941935
4     8  8.793548
5     9 10.180000

$temp
  month    (all)
1     5 65.54839
2     6 79.10000
3     7 83.90323
4     8 83.96774
5     9 76.90000

In [94]:
cast(aqm, month ~ variable, mean, margins=c("grand_row", "grand_col")) # martgin 기능으로 행과 열에 대한 소계를 산출할 수 있다.

  month ozone    solar.r  wind      temp     (all)
1 5     23.61538 181.2963 11.622581 65.54839 68.70696
2 6     29.44444 190.1667 10.266667 79.10000 87.38384
3 7     59.11538 216.4839  8.941935 83.90323 93.49748
4 8     59.96154 171.8571  8.793548 83.96774 79.71207
5 9     31.44828 167.4333 10.180000 76.90000 71.82689
6 (all) 42.12931 185.9315  9.957516 77.88235 80.05722

In [95]:
cast(aqm, day ~ month, mean, subset=variable=="ozone") # 특정값으로, 서브셋을 구축할 수 있다.

   day 5   6   7   8   9
1   1   41 NaN 135  39  96
2   2   36 NaN  49   9  78
3   3   12 NaN  32  16  73
4   4   18 NaN NaN  78  91
5   5  NaN NaN  64  35  47
6   6   28 NaN  40  66  32
7   7   23  29  77 122  20
8   8   19 NaN  97  89  23
9   9    8  71  97 110  21
10 10  NaN  39  85 NaN  24
11 11    7 NaN NaN NaN  44
12 12   16 NaN  10  44  21
13 13   11  23  27  28  28
14 14   14 NaN NaN  65   9
15 15   18 NaN   7 NaN  13
16 16   14  21  48  22  46
17 17   34  37  35  59  18
18 18    6  20  61  23  13
19 19   30  12  79  31  24
20 20   11  13  63  44  16
21 21    1 NaN  16  21  13
22 22   11 NaN NaN   9  23
23 23    4 NaN NaN NaN  36
24 24   32 NaN  80  45   7
25 25  NaN NaN 108 168  14
26 26  NaN NaN  20  73  30
27 27  NaN NaN  52 NaN NaN
28 28   23 NaN  82  76  14
29 29   45 NaN  50 118  18
30 30  115 NaN  64  84  20
31 31   37 NaN  59  85 NaN

In [96]:
cast(aqm, day ~ month, mean, subset=variable=="wind") # 특정값으로, 서브셋을 구축할 수 있다.

   day 5    6    7    8    9
1   1   7.4  8.6  4.1  6.9  6.9
2   2   8.0  9.7  9.2 13.8  5.1
3   3  12.6 16.1  9.2  7.4  2.8
4   4  11.5  9.2 10.9  6.9  4.6
5   5  14.3  8.6  4.6  7.4  7.4
6   6  14.9 14.3 10.9  4.6 15.5
7   7   8.6  9.7  5.1  4.0 10.9
8   8  13.8  6.9  6.3 10.3 10.3
9   9  20.1 13.8  5.7  8.0 10.9
10 10   8.6 11.5  7.4  8.6  9.7
11 11   6.9 10.9  8.6 11.5 14.9
12 12   9.7  9.2 14.3 11.5 15.5
13 13   9.2  8.0 14.9 11.5  6.3
14 14  10.9 13.8 14.9  9.7 10.9
15 15  13.2 11.5 14.3 11.5 11.5
16 16  11.5 14.9  6.9 10.3  6.9
17 17  12.0 20.7 10.3  6.3 13.8
18 18  18.4  9.2  6.3  7.4 10.3
19 19  11.5 11.5  5.1 10.9 10.3
20 20   9.7 10.3 11.5 10.3  8.0
21 21   9.7  6.3  6.9 15.5 12.6
22 22  16.6  1.7  9.7 14.3  9.2
23 23   9.7  4.6 11.5 12.6 10.3
24 24  12.0  6.3  8.6  9.7 10.3
25 25  16.6  8.0  8.0  3.4 16.6
26 26  14.9  8.0  8.6  8.0  6.9
27 27   8.0 10.3 12.0  5.7 13.2
28 28  12.0 11.5  7.4  9.7 14.3
29 29  14.9 14.9  7.4  2.3  8.0
30 30   5.7  8.0  7.4  6.3 11.5
31 31   7.4  NaN  9.2  6.3  NaN

In [97]:
cast(aqm, month ~ variable, range) #min 은 _X1, max는 _X2라고 suffix를 붙여준다.

  month ozone_X1 ozone_X2 solar.r_X1 solar.r_X2 wind_X1 wind_X2 temp_X1 temp_X2
1 5      1       115       8         334        5.7     20.1    56      81
2 6     12        71      31         332        1.7     20.7    65      93
3 7      7       135       7         314        4.1     14.9    73      92
4 8      9       168      24         273        2.3     15.5    72      97
5 9      7        96      14         259        2.8     16.6    63      93

#### 2. sqldf를 이용한 데이터 분석

```install.packages("sqldf")```

In [98]:
library(sqldf)

In [29]:
data(iris)

In [30]:
sqldf("select * from iris limit 10")

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [31]:
sqldf("select count(*) from iris where Species like 'se%' ")

  count(*)
1 50

#### 3. plyr

- plyr : apply 함수에 기반해 데이터와 출력변수를 동시에 배열로 치환처리하는 패키지
- ply() : 첫번째 문자는 데이터 형태, 두번쨰는 출력하는 데이터 형태 
    - 1.  d = 데이터 프레임 (data.frame)
    - 2. a = 배열 (array)
    - 3. l = 리스트 (list)
- ddply : 데이터 프레임을 입력받아 분리(split)하거나 처리 후 출력
- ldply : 리스트를 입력받아 분리하거나 처리 후 출력

<table style = "width:100%" >
    <thead>
        <tr>
            <th colspan = 2, rowspan = 2>빈칸</th>
            <th  colspan = 3>입력되는 데이터 형태</th>
        </tr>
            <th>데이터 프레임(data.frame)</th>
            <th>리스트(list)</th>
            <th>배열(array</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan = 3>출력되는 데이터 형태</th>
            <th>데이터 프레임(data.frame)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
        <tr>
            <th>리스트 (list)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
        <tr>
            <th>배열(array)</th>
            <td>ddply</td>
            <td>ldply</td>
            <td>adply</td>
        </tr>
    </tbody>
</table>

- ser.seed() : R에서 난수를 생성할 때 일정하게 고정시켜주는 역할
- data.frame : 벡터를 데이터프레임으로 만든다.
    - rep(범위, each = 각 개수) 
    - count
    - runif(생성할 난수의 개수, 최소값, 최대값)

In [32]:
set.seed(1)

In [33]:
rep(2012:2014, each = 6) # 2012~2014 까지 각 6번씩을 반복함
year <- rep(2012:2014, each = 6)
year

 [1] 2012 2012 2012 2012 2012 2012 2013 2013 2013 2013 2013 2013 2014 2014 2014
[16] 2014 2014 2014

 [1] 2012 2012 2012 2012 2012 2012 2013 2013 2013 2013 2013 2013 2014 2014 2014
[16] 2014 2014 2014

In [34]:
runif(9, 0, 20)  # 9개 값을 랜덤 추출, 0~20까지 사이에서

[1]  5.310173  7.442478 11.457067 18.164156  4.033639 17.967794 18.893505
[8] 13.215956 12.582281

In [35]:
round(runif(9, 0, 20))  # 9개 값을 랜덤 추출, 0~20까지 사이에서
count <- round(runif(9, 0, 20))
count

[1]  1  4  4 14  8 15 10 14 20

[1]  8 16 19  4 13  3  5  8  0

In [36]:
set.seed(1)
d = data.frame(year = rep(2012:2014, each = 6), count = round(runif(9, 0, 20)))
print(d)

   year count
1  2012     5
2  2012     7
3  2012    11
4  2012    18
5  2012     4
6  2012    18
7  2013    19
8  2013    13
9  2013    13
10 2013     5
11 2013     7
12 2013    11
13 2014    18
14 2014     4
15 2014    18
16 2014    19
17 2014    13
18 2014    13

- plyr : 라이브러리를 설치
- ddply : 데이터 프레임에서 데이터 프레임으로 입출력하는 함수
    - sd : 표준 편차
    - mean : 평균
    - cv(coefficient of variaition, 변동계수)
- d를 인수로 입력받고, count의 mean과 sd를 구해 각각 저장한 다음에 cv를 구함
- 결과를 year별로 리턴하면서 데이터 프레임으로 생성

In [99]:
library(plyr)

In [100]:
ddply(d, "year", function(x,y,z) {
    mean.count = mean(x$count)
    sd.count = sd(x$count)
    cv = sd.count/mean.count
    data.frame(mean.count, sd.count, cv.count =cv)
})

  year mean.count sd.count cv.count
1 2012 10.50000   6.284903 0.5985621
2 2013 11.33333   4.966555 0.4382254
3 2014 14.16667   5.636193 0.3978489

- summarise : 변수에 명령된 평균이나 합을 계싼, 새로생긴 변수만 보여줌

In [38]:
ddply(d, "year", summarise, mean.count = mean(count))

  year mean.count
1 2012 10.50000
2 2013 11.33333
3 2014 14.16667

- transform : 계산에 사용된 변수도 출력

In [39]:
ddply(d, "year", transform, mean.count = mean(count))

   year count mean.count
1  2012  5    10.50000
2  2012  7    10.50000
3  2012 11    10.50000
4  2012 18    10.50000
5  2012  4    10.50000
6  2012 18    10.50000
7  2013 19    11.33333
8  2013 13    11.33333
9  2013 13    11.33333
10 2013  5    11.33333
11 2013  7    11.33333
12 2013 11    11.33333
13 2014 18    14.16667
14 2014  4    14.16667
15 2014 18    14.16667
16 2014 19    14.16667
17 2014 13    14.16667
18 2014 13    14.16667

In [40]:
ddply(d, "year", transform, total.count = sum(count))

   year count total.count
1  2012  5    63
2  2012  7    63
3  2012 11    63
4  2012 18    63
5  2012  4    63
6  2012 18    63
7  2013 19    68
8  2013 13    68
9  2013 13    68
10 2013  5    68
11 2013  7    68
12 2013 11    68
13 2014 18    85
14 2014  4    85
15 2014 18    85
16 2014 19    85
17 2014 13    85
18 2014 13    85

#### 4. 데이터 테이블

- 데이터 테이블(data.table) : 데이터 프레임과 유리하지만 보다 빠른 그룹화(grouping)와 순서화(ordering), 짧은 문장 지원 측면에서 매력적

```install.packages("data.table")```

In [41]:
library(data.table)

Attaching package: ‘data.table’

The following object is masked from ‘package:reshape’:

    melt

In [42]:
DT = data.table(x=c("b","b","b","a","a"), v=rnorm(5))
DT

  x v
1 b -1.539950042
2 b -0.928567035
3 b -0.294720447
4 a -0.005767173
5 a  2.404653389

In [43]:
data(cars)
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [44]:
CARS <- data.table(cars)
head(CARS)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [45]:
tables()

   NAME NROW NCOL MB       COLS KEY
1: CARS   50    2  0 speed,dist
2:   DT    5    2  0        x,v
Total: 0MB

In [46]:
sapply(CARS, class)

    speed      dist
"numeric" "numeric"

In [47]:
DT

  x v
1 b -1.539950042
2 b -0.928567035
3 b -0.294720447
4 a -0.005767173
5 a  2.404653389

In [48]:
DT[2,]

  x v
1 b -0.928567

- setkey() : key를 지정한다 <br>
```setkey(x, ..., verbose=getOption("datatable.verbose"), physical = TRUE)```

In [49]:
setkey(DT,x)
DT

  x v
1 a -0.005767173
2 a  2.404653389
3 b -1.539950042
4 b -0.928567035
5 b -0.294720447

In [50]:
DT["b",]

  x v
1 b -1.5399500
2 b -0.9285670
3 b -0.2947204

In [51]:
DT["b", mult = "first"]

  x v
1 b -1.53995

In [52]:
DT["b", mult = "last"]

  x v
1 b -0.2947204

In [53]:
grpsize <- ceiling(1e7/26^2)

tt <- system.time(DF <- data.frame(
    x = rep(LETTERS, each=26*grpsize),
    y = rep(letters, each=grpsize),
    v = runif(grpsize*26^2),
    stringAsFactors=FALSE)
)
tt

   user  system elapsed
  1.115   0.177   1.295

In [54]:
head(DF,3)

  x y v         stringAsFactors
1 A a 0.7774452 FALSE
2 A a 0.9347052 FALSE
3 A a 0.2121425 FALSE

In [55]:
tail(DF,3)

         x y v         stringAsFactors
10000066 Z z 0.1753029 FALSE
10000067 Z z 0.9537745 FALSE
10000068 Z z 0.6654964 FALSE

In [56]:
dim(DF)

[1] 10000068        4

In [57]:
10000068/3.323

[1] 3009349

In [58]:
tt <- system.time(ans1 <- DF[DF$x == "R" & DF$y == "h",])
tt

   user  system elapsed
  0.113   0.020   0.133

In [59]:
head(ans1, 3)

        x y v         stringAsFactors
6642058 R h 0.5829049 FALSE
6642059 R h 0.2442074 FALSE
6642060 R h 0.6491902 FALSE

In [60]:
DT <-data.table(DF)
setkey(DT, x, y)
ss <- system.time(ans2 <- DT[J("R", "h")])
head(ans2, 3)

  x y v         stringAsFactors
1 R h 0.5829049 FALSE
2 R h 0.2442074 FALSE
3 R h 0.6491902 FALSE

In [61]:
dim(ans2)

[1] 14793     4

In [62]:
identical(ans1$v, ans2$v)

[1] TRUE

In [63]:
ss

   user  system elapsed
  0.002   0.000   0.003

In [64]:
system.time(ans2 <- DF[DF$x == "R" & DF$y == "h",])

   user  system elapsed
  0.104   0.010   0.114

In [65]:
mapply(identical, ans1, ans2)

              x               y               v stringAsFactors
           TRUE            TRUE            TRUE            TRUE

In [66]:
DT[,sum(v)]

[1] 4999770

In [67]:
DT[,sum(v), by = x]

   x V1
1  A 192270.8
2  B 192261.3
3  C 192292.7
4  D 191923.5
5  E 192457.8
6  F 192240.5
7  G 192407.9
8  H 191992.1
9  I 192348.0
10 J 192436.4
11 K 192248.5
12 L 192270.7
13 M 192280.0
14 N 192306.0
15 O 192496.8
16 P 192339.5
17 Q 192384.7
18 R 192320.4
19 S 192282.8
20 T 192228.1
21 U 192101.9
22 V 192604.1
23 W 192469.1
24 X 192297.1
25 Y 192265.2
26 Z 192244.2

In [68]:
ttt <- system.time(tt <- tapply(DT$v, DT$x, sum))
ttt

   user  system elapsed
  0.130   0.033   0.164

In [69]:
sss <- system.time(ss <- DT[, sum(v), by=x]);
sss

   user  system elapsed
  0.064   0.010   0.075

In [70]:
head(tt)

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.numeric(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.numeric(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

       A        B        C        D        E        F
192270.8 192261.3 192292.7 191923.5 192457.8 192240.5

In [71]:
head(ss)

  x V1
1 A 192270.8
2 B 192261.3
3 C 192292.7
4 D 191923.5
5 E 192457.8
6 F 192240.5

In [72]:
identical(as.vector(tt), ss$v1)

[1] FALSE

In [73]:
sss <- system.time(ss <- DT[,sum(v), by="x,y"])
sss
ss

   user  system elapsed
  0.233   0.001   0.234

    x y V1
1   A a 7392.969
2   A b 7364.329
3   A c 7431.784
4   A d 7417.803
5   A e 7406.803
6   A f 7344.155
7   A g 7356.345
8   A h 7369.894
9   A i 7385.927
10  A j 7409.382
11  A k 7372.286
12  A l 7364.022
13  A m 7501.762
14  A n 7397.691
15  A o 7450.005
16  A p 7423.142
17  A q 7367.129
18  A r 7402.075
19  A s 7427.336
20  A t 7402.211
21  A u 7352.202
22  A v 7372.253
23  A w 7385.379
24  A x 7449.878
25  A y 7369.687
26  A z 7354.334
27  B a 7453.275
28  B b 7402.767
29  B c 7387.597
30  B d 7351.670
⋮   ⋮ ⋮ ⋮
647 Y w 7425.187
648 Y x 7443.777
649 Y y 7397.918
650 Y z 7384.208
651 Z a 7383.370
652 Z b 7382.000
653 Z c 7411.821
654 Z d 7368.124
655 Z e 7374.880
656 Z f 7433.834
657 Z g 7387.312
658 Z h 7391.343
659 Z i 7329.717
660 Z j 7398.375
661 Z k 7412.384
662 Z l 7372.073
663 Z m 7412.665
664 Z n 7431.787
665 Z o 7446.685
666 Z p 7343.936
667 Z q 7359.715
668 Z r 7450.558
669 Z s 7402.538
670 Z t 7334.121
671 Z u 7430.179
672 Z v 7350.389
673 Z w 7437.793
674 Z x 7376.503
675 Z y 7398.270
676 Z z 7423.865